.body {
    margin: 0;
    padding: 0;
}

.do_mainsty {
    background-color: rgb(17, 17, 28);
}

.do_imgcont {
    padding-top: 55px;
    margin-left: 50px;
}

.do_img {
    border-radius: 3%;
}

.do_second {
    color: white;
    text-align: center;
    margin-top: 30%;
}

.do_text {
    color: rgb(169, 165, 165);
}

.do_abtn {
    color: white;
    background-color: rgb(38, 140, 189);
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 30px;
}

.do_wether {
    font-size: 46px;
}

/* Css style code for dashbord */

.do_dashbord {
    background-color: rgb(255, 255, 255);
}

.do_imgcont_dash {
    background-color: rgb(255, 255, 255);
    padding-top: 55px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.do_size {
    font-size: 76px;
}

.do_city {
    font-size: 42px;
}

.do_sform {
    border-radius: 30px;
    border: 0;
    background-color: rgb(235, 235, 235);
    width: 290px;
    height: 32px;
}

.do_second_dash {
    background-color: rgb(235, 235, 235);
    color: black;
    padding: 12px;
}

.do_bot {
    margin-top: auto;
    margin-bottom: auto;
}

.do_lecontenu {
    color: white;
    background-color:rgb(95, 141, 211);
    border-radius: 20px;
    padding: 30px;
}

.do_contenuu {
    font-size: 26px;
}

.do_contenu {
    font-size: 18px;
}

.do_space {
    padding-top: 20px;
}

.do_top {
    font-size: 42px;
}

.do_text_bas {
    font-size: 18px;
}

.do_searchçbtn {
    color: rgb(95, 141, 211);;
    background-color: white;
    border: none;
}